# Configuration file

"aesthetic settings" {
    # Change the birch colour based on the current season [default: true]
    B:"Change Birch Colour Seasonally"=true

    # Change the foliage colour based on the current season [default: true]
    B:"Change Foliage Colour Seasonally"=true

    # Change the grass colour based on the current season [default: true]
    B:"Change Grass Colour Seasonally"=true
}


"dimension settings" {
    # Seasons will only apply to dimensions listed here [default: [0]]
    S:"Whitelisted Dimensions" <
        0
     >
}


"time settings" {
    # The duration of a Minecraft day in ticks [range: 0 ~ 2147483647, default: 24000]
    I:"Day Duration"=24000

    # If the season should progress on a server with no players online [default: false]
    B:"Progress Season While Offline"=false

    # The starting sub season for new worlds. [range: 0 ~ 12, default: 1]
    I:"Starting Sub Season"=1

    # The duration of a sub season in days [range: 0 ~ 2147483647, default: 8]
    I:"Sub Season Duration"=8
}


"weather settings" {
    # Change the frequency of rain/snow/storms based on the season [default: true]
    B:"Change Weather Frequency"=true

    # Generate snow and ice during the Winter season [default: true]
    B:"Generate Snow and Ice"=true
}


